@import "./variables.scss";

.table.table-default {

    > thead > tr > th {
        padding: $pmpkin-th-padding;
        color: $pmpkin-th-color;
        font-size: $pmpkin-th-font-size;
		text-transform: uppercase;
		border-right: none;
		background: none;
        user-select: none;
    }

    > tbody > tr > td {
        padding: $pmpkin-td-padding;
        color: $pmpkin-td-color;
        font-size: $pmpkin-td-font-size;
        border-bottom: solid 1px #eee;
		border-right: none;
		border-top: none;

    }

    &.table-row-selectable {

        > thead > tr > th:nth-child(2)
        > tbody > tr > td:nth-child(2) {
            padding-left: 0;
        }

        > tbody > tr > .table-row-selector-cell,
        > thead > tr > .table-row-selector-cell {
            padding: 0 !important;
    		text-align: center;
            width: 42px;
            position: relative;

            .table-row-selector {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                cursor: pointer;

                .svg {
                    position: absolute;
                    top: 12px;
                    left: 10px;
                    transition: fill 0.25s;
                    &.on {
                        opacity: 0;
                        fill: #ccc;
                    }
                    &.selected {
                        opacity: 0;
                        fill: rgb(13, 173, 255);

                        &:hover {
                            fill: #0ca1ed;
                        }
                    }
                    &.off {
                        opacity: 1;
                        fill: #ccc;
                    }
                }

                &:hover {
                    .svg.on {
                        opacity: 1;
                        fill: #888;
                    }
                    .svg.off {
                        opacity: 0;
                        fill: #888;
                    }
                }
            }

            &.head .table-row-selector .svg {
                top: 7px;

                &.select-all {
                    opacity: 1;
                    fill: #ccc;

                    &:hover {
                        fill: rgb(13, 173, 255);
                    }
                }
            }

        }

        > tbody > tr.selected {
            background: rgba(26, 190, 247, 0.08) !important;

            > .table-row-selector-cell {

                .table-row-selector {
                    .svg.on {
                        opacity: 0;
                    }
                    .svg.off {
                        opacity: 0;
                    }
                    .svg.selected {
                        opacity: 1;
                    }
                }
            }
        }

    }


    &.table-row-images {

        > tbody > tr > .table-row-selector-cell {

            > .table-row-selector {
                opacity: 0;
                position: absolute;
            }

            > .table-row-image {
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;


                .mdi {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    color: #B913B0;
                    margin-top: 12px;
                    font-size: 16px;
    			}
            }
        }
        > tbody > tr:hover > .table-row-selector-cell {
            > .table-row-selector {
                opacity: 1;
            }

            > .table-row-image {
                opacity: 0;
            }

        }
    }

    &.table-row-actions {
        > tbody > tr > .table-row-actions-cell {
            text-align: right;
            padding: 0;

            > .table-row-actions {
                display: block;
                width: 100%;
                height: 100%;
                opacity: 0;
                pointer-events: none;

                a {
                    display: block;
                    padding-top: 12px;
                    padding: 12px 10px 9px 10px;
                    text-align: center;
                    cursor: pointer;

                    .svg {
                        fill: rgba(13, 173, 255, 0.5);
                    }

                    &:hover {
                        .svg {
                            fill: rgb(13, 173, 255);
                        }
                    }
                }
            }

        }
        > tbody > tr:hover > .table-row-actions-cell {
            > .table-row-actions {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &.table-striped > tbody > tr {
        background-color: #fcfcfc;

        &:nth-of-type(odd) {
            background-color: #fff;
        }

        &:hover {
        	background: #f7f7f7;
        }
    }

    &.table-clickable > tbody > tr {
        cursor: pointer;
    }
}
