$pmpkin-th-font-size: 13px !default;
$pmpkin-th-color: #3E516B !default;
$pmpkin-th-padding: 10px !default;

$pmpkin-td-font-size: 15px !default;
$pmpkin-td-color: #37414C !default;
$pmpkin-td-padding: 14px 10px !default;
